<div class="row mt-3">
    <div class="col">

        <div *ngIf="!isFetchingData">
            <p class="fs-6 text-center mb-1">{{userData?.data()?.full_name}}</p>
            <p class="fs-6 text-center mb-1">{{attendanceData?.data()?.branch?.data?.branch_name}}</p>
            <p class="fs-6 text-center mb-1">{{attendanceData?.data()?.attendance_name}}</p>
            <p class="fs-6 text-center mb-1">{{attendanceDate | date}}</p>
        </div>

        <div *ngIf="isFetchingData" class="text-center">
            <div class="spinner-border text-primary m-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

<div class="row mt-4">
    <div class="col-md-9 mx-auto">

        <table class="table w-100 border-top">
            <tbody>
                <tr>
                    <td class="py-3">Time Clocked In</td>
                    <td class="py-3">{{sheetData?.clocked_in}}</td>
                </tr>
                <tr>
                    <td class="py-3">Time Clocked Out</td>
                    <td class="py-3">{{sheetData?.clocked_out}}</td>
                </tr>
                <tr>
                    <td class="py-3">Time Break Started</td>
                    <td class="py-3">{{sheetData?.started_break}}</td>
                </tr>
                <tr>
                    <td class="py-3">Time Break Ended</td>
                    <td class="py-3">{{sheetData?.ended_break}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="row mt-4">
    <div class="col text-center">
        <p class="small text-warning">
            <i class="bi bi-exclamation-triangle-fill"></i> Don't forget to
        </p>
        <button class="btn btn-primary px-3" (click)="logout()">Log Out</button>
    </div>
</div>