<div class="row mt-3">
    <div class="col">

        <div *ngIf="!isFetchingData">
            <p class="fs-6 text-center mb-1">{{userData?.data()?.full_name}}</p>
            <p class="fs-6 text-center mb-1">{{attendanceDate | date}}</p>
        </div>

        <div *ngIf="isFetchingData" class="text-center">
            <div class="spinner-border text-primary m-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

<div *ngIf="!showPrompt" class="row mt-4">
    <div class="col">

        <div class="text-center mb-4">
            <button class="btn btn-outline-success btn-lg p-4 mx-3" [disabled]="isSavingCheck || isFetchingData" (click)="checkClock('Clock In')">Clock In</button>
            <button class="btn btn-outline-warning btn-lg p-4 mx-3" [disabled]="isSavingCheck || isFetchingData" (click)="checkClock('Clock Out')">Clock Out</button>
        </div>
        <div class="text-center mb-4">
            <button class="btn btn-outline-success btn-lg p-4 mx-3" [disabled]="isSavingCheck || isFetchingData" (click)="checkClock('Start Break')">Start Break</button>
            <button class="btn btn-outline-warning btn-lg p-4 mx-3" [disabled]="isSavingCheck || isFetchingData" (click)="checkClock('End Break')">End Break</button>
        </div>

    </div>
</div>

<div *ngIf="showPrompt" class="row p5 text-center">
    <div class="col">
        <img src="../../../assets/error.png" class="mb-4 prompt-image mx-auto">
        <p class="lead">No atendance setup</p>
        <p class="lead">Please contact your branch manager</p>
    </div>
</div>

<!-- confirm clock modal -->

<button [hidden]="true" #confirmButtonElementReference data-bs-toggle="modal" data-bs-target="#confirmationModalOne">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="confirmationModalOne" tabindex="-1" aria-labelledby="confirmationModalOneLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p class="pt-4">Confirm {{clockType}} at:</p>
                <p class="lead">{{getCurrentTime()}}</p>
                <button class="btn btn-sm btn-success mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal" (click)="onConfirm()">Confirm</button>
                <button class="btn btn-sm btn-warning mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal">Cancel</button>
            </div>
            
        </div>
    </div>
</div>

<!-- check already clock modal -->

<button [hidden]="true" #checkButtonElementReference data-bs-toggle="modal" data-bs-target="#checkModalOne">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="checkModalOne" tabindex="-1" aria-labelledby="checkModalOneLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p *ngIf="clockType == 'Clock In'" class="pt-4">Already Clocked In</p>
                <p *ngIf="clockType == 'Clock Out'" class="pt-4">Already Clocked Out</p>
                <p *ngIf="clockType == 'Start Break'" class="pt-4">Already Started Break</p>
                <p *ngIf="clockType == 'End Break'" class="pt-4">Already Ended Break</p>
                <button class="btn btn-sm btn-success mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal" routerLink="/user-summary">View</button>
                <button class="btn btn-sm btn-warning mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal">Cancel</button>
            </div>
            
        </div>
    </div>
</div>
