<div class="row mt-4">

    <div class="col-md-8 mx-auto">
        <div class="input-group mb-2 w-100">
            <input [(ngModel)]="branchName" class="form-control" placeholder="Select Branch" disabled>
            <button type="button" class="btn btn-secondary" disabled>
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
        <div class="input-group mb-2 w-100">
            <input [(ngModel)]="attendanceName" class="form-control" placeholder="Select Attendance" disabled>
            <button type="button" class="btn btn-secondary" (click)="openAttendanceWindow()">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
    </div>

    <div *ngIf="showCalendar" class="card mt-3">
        <div class="p-3 text-center">
            <button type="button" class="btn btn-light btn-sm border" (click)="setMonth(-1)">
                <i class="bi bi-caret-left-fill"></i>
            </button>
            <span class="h4 mx-3 calendar-month-header">{{calendarMonthYear}}</span>
            <button type="button" class="btn btn-light btn-sm border" (click)="setMonth(1)">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </div>

        <table class="table table-bordered table-responsive-sm mb-0 scheduler-table">
            <thead>
                <tr class="bg-light">
                    <th *ngFor="let day of days" class="text-center">{{day}}</th>
                </tr>
            </thead>

            <tbody id="calendar-body">
                <tr *ngFor="let a of array(math.ceil(dates.length/7)); let i = index">
                    <td *ngFor="let date of dates.slice(7*i, 7*i + 7);" (dblclick)="openConfirmModal(date)">
                        <span class="text-center d-block" [ngClass]="{'inactive-date': date.getMonth() != currentDate.getMonth()}">
                            {{date | date:'d'}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- select attendance component -->

<app-select-attendance #selectAttendanceComponentReference (rowSelected)="onAttendanceSelected($event)"></app-select-attendance>

<!-- confirm setup modal -->

<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#deleteConfirmationModalOne">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="deleteConfirmationModalOne" tabindex="-1" aria-labelledby="deleteConfirmationModalOneLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p class="pt-4">Confirm attendance setup with date:</p>
                <p class="lead">{{selectedDate | date}}</p>
                <button class="btn btn-sm btn-success mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal" (click)="onConfirm()">Confirm</button>
                <button class="btn btn-sm btn-warning mx-2 confirm-modal-btn" data-bs-dismiss="modal" data-bs-toggle="modal">Cancel</button>
            </div>
            
        </div>
    </div>
</div>
