<div class="row mt-5">
    <div class="col-md-8 mx-auto">
        <form>
            <div class="mb-3">
                <input class="form-control w-100" id="inputEmail" type="email" placeholder="Email" />
            </div>
            <div class="mb-3">
                <input class="form-control w-100" id="inputPassword" type="password" placeholder="Password"/>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary px-3">Login</button>
            </div>
        </form>
    </div>
</div>

<!-- TODO:
add prompt
if success and if admin
provide choice to set up new attednace or check existing attendance -->