<div class="row mt-3">
    <div class="col">

        <p class="fs-6 text-center mb-1">Branch Name</p>
        <p class="fs-6 text-center mb-1">Attendance Name</p>
        <p class="fs-6 text-center mb-1">Attendance Date</p>

    </div>
</div>

<div class="row mt-4">
    <div class="col-md-9 mx-auto">

        <table class="table w-100 border-top">
            <tbody>
                <tr>
                    <td class="py-3">Total clocked in today</td>
                    <td class="py-3">0</td>
                </tr>
                <tr>
                    <td class="py-3">Total clocked out today</td>
                    <td class="py-3">0</td>
                </tr>
                <tr>
                    <td class="py-3">Total break Started today</td>
                    <td class="py-3">0</td>
                </tr>
                <tr>
                    <td class="py-3">Total break Ended today</td>
                    <td class="py-3">0</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>