<div class="row mt-5" *ngIf="!showPrompt">
    <div class="col-md-8 mx-auto">
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <input formControlName="email" class="form-control w-100" id="inputEmail" type="email" placeholder="Email" />
                <div *ngIf="errorCode == 'auth/user-not-found'" class="small text-danger">{{errorMessage}}</div>
                <div *ngIf="errorCode == 'auth/invalid-email'" class="small text-danger">{{errorMessage}}</div>
            </div>
            <div class="mb-3">
                <input formControlName="password" class="form-control w-100" id="inputPassword" type="password" placeholder="Password"/>
                <div *ngIf="errorCode == 'auth/wrong-password'" class="small text-danger">{{errorMessage}}</div>
            </div>
            <div class="text-center mt-4">
                <button [disabled]="isSending" class="btn btn-primary px-3">Login</button>
            </div>
        </form>

    </div>
</div>

<div *ngIf="showPrompt" class="row mt-5">
    <div class="col text-center">

        <button class="btn btn-outline-primary p-3 mb-4 prompt-btn" routerLink="/admin-setup">Set Up Attendance</button>
        <br>
        <button class="btn btn-outline-primary p-3 mb-4 prompt-btn" (click)="checkSetupNotExist()">Clock Attendance</button>

    </div>
</div>

<!-- set not exist modal -->

<button [hidden]="true" #notExistButtonElementReference data-bs-toggle="modal" data-bs-target="#setupNotExistModalOne">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="setupNotExistModalOne" tabindex="-1" aria-labelledby="setupNotExistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body my-3">
                <p class="fs-2 text-warning">
                    <i class="bi bi-exclamation-octagon"></i>
                </p>
                <p class="pt-2">No attendance set up available</p>
                <p>Please, contact your branch manager</p>
            </div>
            
        </div>
    </div>
</div>