<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectAttendanceModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectAttendanceModal" tabindex="-1" aria-labelledby="selectAttendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectAttendanceModalLabel">Select Attendance</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal"></button>
            </div>

            <div class="modal-body">

                <div class="overflow-auto">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th width="30%" scope="col">Attendance ID</th>
                                <th width="70%" scope="col">Attendance Name</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!isFetchingData">
                            <tr *ngFor="let data of attendanceListData" (dblclick)="selectRow(data)">
                                <td>{{data?.data().attendance_code}}</td>
                                <td>{{data?.data().attendance_name}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="isFetchingData || !isDataAvailable">
                            <tr class="text-center">
                                <td colspan="2">
                                    <div class="spinner-border text-primary m-4" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
                
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<!-- <app-connection-toast #connectionToastComponentReference></app-connection-toast> -->
