/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.confirm-modal-btn{
    width: 80px !important;
}